<footer class="footer">
  <div class="section-join container">
    <h1 class="section-title col-12 col-lg-7 mx-auto">Join millions of creative people with AR Shakir</h1>
    <button class="btn btn-orange">Join The Waitlist</button>
  </div>

  <div class="line"></div>

  <div class="section-info container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <h5 class="title-1">AR SHAKIR</h5>
        <h6 class="subtitle col-12 col-lg-11 p-0">Yet bed any for travelling assistance indulgence unpleasing. Not thoughts all exercise blessing. Indulgence way everything joy alteration boisterous the attachment.</h6>
      </div>
      <div class="col-12 col-lg-2 mt-sm-20">
        <h5 class="title-1 mb-4">Company</h5>
        <h6 class="title-2">About Us</h6>
        <h6 class="title-2">Careers</h6>
        <h6 class="title-2">Blog</h6>
        <h6 class="title-2">Pricing</h6>
      </div>
      <div class="col-12 col-lg-2 mt-sm-20">
        <h5 class="title-1 mb-4">Product</h5>
        <h6 class="title-2">Invoicing Platform</h6>
        <h6 class="title-2">Accounting Platform</h6>
        <h6 class="title-2">Create Proposal</h6>
        <h6 class="title-2">Contracts</h6>
      </div>
      <div class="col-12 col-lg-2 mt-sm-20">
        <h5 class="title-1 mb-4">Resources</h5>
        <h6 class="title-2">Proposal Template</h6>
        <h6 class="title-2">Invoice Template</h6>
        <h6 class="title-2">Tutorial</h6>
        <h6 class="title-2">How to write a contract</h6>
      </div>
    </div>
  </div>

  <div class="line"></div>

  <div class="section-copyright d-flex justify-content-between container">
    <div class="col-12 col-md-6 text-center-sm">
      <h6>2022 AR Shakir. All rights reserved. -- Privacy Policy - Terms of Services</h6>
    </div>
    <div class="col-12 col-md-6 text-right text-center-sm">
      <h6>Supported by Microsoft Startup</h6>
    </div>
  </div>
</footer>