<section class="homepage">
  <h1 class="section-title col-12 col-lg-9 mx-auto">
    Managing your crypto portfolio has never been easier
  </h1>
  <h5 class="subtitle col-12 col-lg-6 mx-auto">
    End-to-end payments and financial management in a single solution. Meet the right platform to help realize.
  </h5>
  <div class="col-12 col-lg-5 mx-auto mt-5">
    <div class="d-flex justify-content-between sm-column">
      <div class="col d-flex justify-content-center">
        <button class="btn btn-orange ml-5">Get Started</button>
      </div>
      <div class="col d-flex flex-row see-sm">
        <button class="btn btn-green">
          <img src="../../assets/images/play.png">
        </button>
        <h6 class="title-see">See How It Works</h6>
      </div>
    </div>
  </div>
</section>

<section class="dashboard-preview">
  <img src="../../assets/images/dashboard.png">
</section>

<section class="container">
  <div class="partners">
    <h5 class="section-title">Over 32k+ software  businesses growing with AR Shakir.</h5>
    <div class="d-flex justify-content-between mt-5">
      <div class="sm-6">
        <img class="logo" src="../../assets/images/zeppelin.png">
      </div>
      <div class="sm-6">
        <img class="logo" src="../../assets/images/oracle.png">
      </div>
      <div class="sm-6">
        <img class="logo" src="../../assets/images/morpheus.png">
      </div>
      <div class="sm-6">
        <img class="logo" src="../../assets/images/samsung.png">
      </div>
      <div class="sm-6">
        <img class="logo" src="../../assets/images/monday.png">
      </div>
      <div class="sm-6">
        <img class="logo" src="../../assets/images/segment.png">
      </div>
      <div class="sm-6">
        <img class="logo" src="../../assets/images/protonet.png">
      </div>
    </div>
  </div>

  <div class="features">
    <div class="row">
      <div class="feature-1-img col-sm-12 col-md-6 p-0">
        <img src="../../assets/images/feature-1.png">
      </div>
      <div class="feature-info col-sm-12 col-md-6 p-0">
        <h5 class="title-1">Our Feature</h5>
        <h1 class="title-2">All of your portfolio are linked to your AR Shakir account</h1>
        <h6 class="title-3">Why kept very ever home mrs. Considered sympathize ten uncommonly occasional assistance sufficient not. Letter of on become he tended active enable to.</h6>
        <div class="center-sm">
          <button class="btn btn-blue">Get Started</button>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="order-2 order-md-1 feature-info col-sm-12 col-md-6 p-0">
        <h5 class="title-1">Our Feature</h5>
        <h1 class="title-2">All payments can be managed from one account</h1>
        <h6 class="title-3">Why kept very ever home mrs. Considered sympathize ten uncommonly occasional assistance sufficient not. Letter of on become he tended active enable to.</h6>
        <div class="center-sm">
          <button class="btn btn-blue">Get Started</button>
        </div>
      </div>
      <div class="order-1 order-md-2 feature-1-img col-sm-12 col-md-6 p-0">
        <img src="../../assets/images/feature-2.png">
      </div>
    </div>
  </div>
</section>

<section class="preference">
  <div class="container">
    <div class="d-flex justify-content-between">
      <div class="col-12 col-lg-9">
        <h1 class="section-title">Yet preference connection unpleasant yet melancholy but end appearance</h1>
      </div>
      <div class="col-12 col-lg-3 d-flex justify-content-end">
        <button class="btn btn-orange">Get Started</button>
      </div>
    </div>
    <div class="-mt-15-sm d-flex justify-content-between mt-4">
      <div class="col-12 col-lg-5 pt-4">
        <div class="d-flex flex-row mt-3">
          <div class="number-circle">1</div>
          <div class="info">
            <h5 class="text-1">First Working Process</h5>
            <h6 class="text-2">Blessing it ladyship on sensible judgement settling outweigh.</h6>
          </div>
        </div>
        <div class="d-flex flex-row mt-4">
          <div class="number-circle">2</div>
          <div class="info">
            <h5 class="text-1">Dedicated Team</h5>
            <h6 class="text-2">Warmly little before cousin susset entire men set.</h6>
          </div>
        </div>
        <div class="d-flex flex-row mt-4">
          <div class="number-circle">3</div>
          <div class="info">
            <h5 class="text-1">24/7 Hours Support</h5>
            <h6 class="text-2">And excellence partiality estimating terminated day everything.</h6>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-7 d-flex justify-content-end">
        <img class="working-img" src="../../assets/images/working.png">
      </div>
    </div>
  </div>
</section>

<section class="bg-light">
  <section class="container section-bottom">
    <div class="card-1">
      <div class="col-3">
        <h3 class="section-title">Germany-based & GDPR Compliant</h3>
      </div>
      <div class="col-3 d-flex align-items-center">
        <div class="d-flex flex-row">
          <div class="gray-box">
            <img src="../../assets/images/icon-1.png">
          </div>
          <h6 class="title">Data does not leave our servers</h6>
        </div>
      </div>
      <div class="col-3 d-flex align-items-center">
        <div class="d-flex flex-row">
          <div class="gray-box">
            <img src="../../assets/images/icon-2.png">
          </div>
          <h6 class="title">Own infrastructure</h6>
        </div>
      </div>
      <div class="col-3 d-flex align-items-center">
        <div class="d-flex flex-row">
          <div class="gray-box">
            <img src="../../assets/images/icon-3.png">
          </div>
          <h6 class="title">Most renowed data centers</h6>
        </div>
      </div>
    </div>
  
    <div class="section-read-more d-flex flex-row">
      <div class="col-12 col-md-6">
        <div class="card-shadow">
          <h1 class="section-title">Outward clothes promise at gravity.</h1>
          <h6 class="subtitle">End-to-end payments and financial management in a single solution. Meet the right platform to help realize.</h6>
          <div class="d-flex justify-content-center">
            <button class="btn btn-blue">Read More</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="card-shadow">
          <h1 class="section-title">Sufficient particular impossible.</h1>
          <h6 class="subtitle">End-to-end payments and financial management in a single solution. Meet the right platform to help realize.</h6>
          <div class="d-flex justify-content-center">
            <button class="btn btn-blue">Read More</button>
          </div>
        </div>
      </div>
    </div>
  
    <div class="section-blogs">
      <h1 class="section-title">Recent Blogs</h1>
      <div class="card-3">
        <div class="info">
          <h6 class="title-1">Best Practices</h6>
          <h4 class="title-2">In design active temper be uneasy. Thirty for remove plenty regard.</h4>
          <button class="btn btn-link">Read More</button>
        </div>
        <div class="image">
          <img src="../../assets/images/peoples.png">
        </div>
      </div>
      <div class="section-posts d-flex flex-row p-0">
        <div class="col-12 col-md-4">
          <div class="card-3">
            <div class="info">
              <h6 class="title-1">Best Practices</h6>
              <h4 class="title-2">Partiality on or continuing particular principles as. </h4>
            </div>
            <div class="image">
              <img src="../../assets/images/post-1.png">
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card-3">
            <div class="info">
              <h6 class="title-1">Best Practices</h6>
              <h4 class="title-2">Village did removed enjoyed explain</h4>
            </div>
            <div class="image">
              <img src="../../assets/images/post-2.png">
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card-3">
            <div class="info">
              <h6 class="title-1">Best Practices</h6>
              <h4 class="title-2">Wise busy past both park when an ye no. Nay likely her length.</h4>
            </div>
            <div class="image">
              <img src="../../assets/images/post-3.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>