<section class="container navbar-1">
  <div class="d-flex justify-content-between">
    <div class="col">
      <a class="logo" href="/">AR SHAKIR</a>
    </div>
    <div class="col d-flex justify-content-center">
      <ul class="navigation">
        <li class="links chevron">Product</li>
        <li class="links chevron">Template</li>
        <li class="links">Blog</li>
        <li class="links">Pricing</li>
      </ul>
    </div>
    <div class="col d-flex justify-content-end">
      <button href="/" class="btn btn-link">Sign In</button>
      <button href="/" class="btn btn-orange">Start Free</button>
    </div>
  </div>
</section>